@model List<EpisodeRatingStatsViewModel>

@{
    ViewData["Title"] = "Podcast Episode Stats";
}

<h2>Podcast Episode Stats</h2>

<table class="table">
    <thead>
        <tr>
            <th>Episode</th>
            <th>Release Date</th>
            <th>Duration</th>
            <th>Total Ratings</th>
            <th>Average Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var episode in Model)
        {
            <tr>
                <td>
                    <img src="@episode.EpImage" alt="@episode.Title" style="width: 50px; height: 50px;" />
                    <span>@episode.Title</span>
                </td>
                <td>@episode.ReleaseDate.ToShortDateString()</td>
                <td>@episode.Duration</td>
                <td>@episode.TotalRatings</td>
                <td>@episode.AverageRating.ToString("0.0") <i class="fas fa-star"></i></td>
            </tr>
        }
    </tbody>
</table>
