@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@using DACS.Models
@model DACS.ViewModels.ViewModelEpisodeByPlaylist
@{
    ViewData["Title"] = Model.PlaylistName;
}

<h2 class="text-center">@Model.PlaylistName</h2>
@foreach (var episode in Model.Episodes)
{
    <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
        <div class="image" style="background-image: url('/images/@episode.EpImage'); width: 1000px; height: 350px"></div>
        <div class="text">
            <h3 class="font-weight-light"><a asp-controller="Episode" asp-action="Detail" asp-route-episodeID="@episode.EpisodeId">@episode.Title</a></h3>
            <div class="text-white mb-3">
                <span class="text-black-opacity-05">
                    <small> <span class="sep"></span> @episode.ReleaseDate.ToShortDateString() <span class="sep">/</span> @episode.Duraion minute</small>
                </span>
            </div>
            <p class="mb-4">@episode.Description</p>
            <div class="player">
                <audio id="player2" preload="none" controls style="max-width: 100%">
                    <source src="~/Video/@episode.AudioUrl" type="audio/mp3">
                </audio>
            </div>
            <button id="removeEpisodeButton" type="button" data-episodeId="@episode.EpisodeId" class="btn btn-primary show-modal follow-btn mt-4 d-block">
				Xoá khỏi danh sách phát
            </button>
        </div>
    </div>
}
<script>
	const removeEpisodeButton = document.getElementById("removeEpisodeButton");

	// Thêm event listener cho button "Thêm vào Playlist"
	removeEpisodeButton.onclick = function () {
		// Lấy episode ID (thay thế bằng cách lấy episode ID thực tế)
		const episodeId = removeEpisodeButton.getAttribute('data-episodeId');

		// Lấy playlist ID từ radio button đã chọn
		const selectedPlaylistId = @Model.PlaylistId;

		// Gửi request AJAX để thêm episode vào playlist
		fetch(`/Episode/RemoveFromPlaylist?episodeId=${episodeId}&playlistId=${selectedPlaylistId}`, {
			method: 'POST'
		})
			.then(response => response.json())
			.then(data => {
				// Xử lý kết quả trả về
				if (data.success) {
					// Hiển thị thông báo thành công
					alert(data.message);
					location.reload();
				} else {
					// Hiển thị thông báo lỗi
					alert(data.message);
				}
			});
	};
</script>